langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-google-genai
langchain-openai
streamlit
python-dotenv
pandas
pydantic>=2.0.0
langgraph>=0.2.0
langsmith
tenacity
google-search-results
langchain-google-genai
